<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <title>Document</title>
  </head>
  <body>
    <footer>
      <div class="localizacao">
        <img src="../assets/localizacao.png" alt="localização da INjunior" />
      </div>
      <div class="contato-container">
        <div class="svgs">
          <img src="" alt="svg1" />
          <img src="" alt="svg2" />
          <img src="" alt="svg3" />
        </div>
        <div class="contato">
          <p class="contato-text">
            Av. Milton Tavares de Souza, s/n - Sala 115 B - Boa Viagem, Niterói
            - RJ, 24210-315
          </p>
          <p class="contato-text">(99) 99999-9999</p>
          <p class="contato-text">salve-lobos@lobINhos.com</p>
          <button>Quem Somos</button>
        </div>
      </div>
      <div class="creditos">
        <p>Desenvolvido com</p>
        <img src="../assets/paws.png" alt="logo paws" />
      </div>
    </footer>
  </body>
</html>
