<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header Lobinhos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../styles/header.css">
</head>
<body>
    <header> 
        <nav> 
            <a href="../nossoslobinhos.html">Nossos Lobinhos</a> 
        </nav> 
        <img src="../assets/logo_header.png" alt="logo">
        <nav> 
            <a href="../quemsomos.html">Quem Somos</a> 
        </nav>
    </header>
</body>
</html>