<!DOCTYPE html>
<html lang="pt">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Header Lobinhos</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@300..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../styles/header.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a class="animacao" href="../html/nossoslobinhos.html"
              >Nossos Lobinhos</a
            >
          </li>
          <li>
            <a href="../html/home.html">
              <img src="../assets/logo_header.png" alt="home" />
            </a>
          </li>
          <li><a class="animacao" href="../html/quemsomos.html">Quem Somos</a></li>
        </ul>
      </nav>
    </header>
  </body>
</html>
