* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Darker Grotesque";
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1036px;
  width: 100%;
}

.add-lobinho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 4px solid black;
  width: 100%;
  max-width: 958px;
  height: 874px;
  margin: 0 auto;
}

.add-lobinho button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 60px;
  background-color: #2c5680;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

h2 {
  font-size: 60px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 512px;
  width: 100%;
  max-width: 762px;

  form {
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
    justify-content: space-between;

    .small {
      flex: 1 1 calc(32% - 6px);
    }
    .medium {
      flex: 1 1 calc(50% - 9px);
    }
    .large {
      flex: 1 1 100%;
    }

    label {
      flex: 1 1 100%;
      display: flex;
      flex-wrap: wrap;

      input,
      textarea {
        flex: 1 1 100%;
        background: #e6e6e6;
      }
      textarea {
        height: 250px;
        resize: none;
      }
    }
  }
}

.name-age {
  display: flex;
  gap: 20px;
}

.text {
  font-size: 30px;
  font-weight: 500;
}

.age {
  display: flex;
  flex-direction: column;
  width: 178px;
}

.descricao {
  height: 250px;
}

form input {
  background-color: #e6e6e6;
  border: 1px solid black;
}

.caixa {
  height: 39px;
}

#footer-container {
  margin-top: auto;
}
