* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  font-family: "Darker Grotesque";
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1036px;
}

.add-lobinho {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  border: 4px solid black;
  width: 958px;
  height: 874px;
  margin: 0;
}

.add-lobinho button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 60px;
  background-color: #2c5680;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 24px;
}

h2 {
  font-size: 60px;
  text-align: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 512px;
  width: 762px;
}

.name {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 30px;
  font-weight: 500;
}

.name-age {
  display: flex;
  gap: 20px;
}

.age {
  display: flex;
  flex-direction: column;
  width: 178px;
}

.description input {
  height: 250px;
}

form input {
  background-color: #e6e6e6;
  border: 1px solid black;
}

.caixa {
  height: 39px;
}
