* {
  font-family: "Darker Grotesque";
}

html,
body {
  width: 100%;
  height: 100vh;
}

.adotar-lobo {
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.adotar-lobo img {
  width: 200px;
  border-radius: 50%;
  padding-bottom: 50px;
}

.adotar-lobo h1 {
  font-size: 60px;
  color: #000;
  padding-bottom: 50px;
}

.adotar-lobo h2 {
  font-size: 30px;
  color: #000;
}

.adotar-lobo p {
  font-size: 24px;
  text-align: center;
  margin: 0;
}

.formulario {
  width: 100%;
  display: flex;
  justify-content: center;
}

.adotar{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

#botao_adota{
  width: 209px;
  height: 60px;
  background: #2C5680;
  color: #fff;
  font-family: Darker Grotesque;
  font-size: 36px;
  border: 1px solid #333333;
  padding-bottom: 15px;
  margin-bottom: 50px;
}

#footer-container {
  margin-top: auto;
}
