* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: normal;
  font-family: "Darker Grotesque";
}

html,
body {
  width: 100%;
}

footer {
  background-color: #333333;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 275px;
  padding-top: 51px;
  gap: 20px;
  width: 100%;
}

.localizacao {
  padding-right: 40px;
}

.contato-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.svgs {
  display: flex;
  flex-direction: column;
  padding-right: 15px;
  gap: 22px;
}

.contato {
  display: flex;
  justify-content: left;
  align-items: center;
  color: #fff;
  width: 378px;
}

.contato img {
  margin-right: 15px;
  max-width: 15px;
  height: 15px;
}

#quemSomos {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #deb959;
  color: #353535;
  border: none;
  width: 144px;
  height: 30px;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  font-weight: 700;
}

.creditos {
  padding-left: 179px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.creditos p {
  color: #fff;
  font-size: 23px;
}

.creditos img {
  width: 104px;
  height: 104px;
}

.contato-text {
  line-height: 20px;
  margin: 0;
}
